@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.titulo{
    color: white;
}

.container{
    background-color: #18181b;
}

.container nav{
    max-width: 1800px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.container .nav-logo img{
    height: 120px;
}

.nav-links{
    margin-left: 35px;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.link a{
    position: relative;
    padding-bottom: 0.75rem;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}

.link a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #a12727;
    transition: all 0.3s ease;
}

.link a:hover::after{
    width: 100%;
}

.btn{
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #fff;
    background-color: #a12727;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover{
    background-color: #751c1c;
}

.nav-card{
    display: none;
    border-radius: 10px;
}

.container nav button{
    display: none;
}

.nav-card li{
    list-style: none;
    padding: 1rem;
    font-weight: bold;
    color: #fff;
}

.container nav i:hover > .buy-card{
    width: 400px;
    height: 400px;
    position: absolute;
    right: 0;
    background-color: #a12727;
    border-radius: 10px 10px 10px 10px;
}

.container nav i:hover .nav-card{
    font-size: 1.4rem;
    display: flex;
    justify-content: space-between;
    margin: 0 10px 0 10px;
    border-bottom: solid thick #fff;
    border-radius: 5px;
}

.container nav i:hover .buy-card > button{
    display: block;
    width: 90%;
    padding: 1rem;
    margin: 10px auto;
    font-weight: bold;
    background-color: transparent;
    border: solid thick #fff;
    border-radius: 10px 10px 10px 10px;
    border-width: 3px;
    color: #fff;
    cursor: pointer;
}

.container nav i:hover .buy-card > button:hover{
    background-color: thin #e1e1e1;
    transition: all .4s;
}

.container nav i{
    font-size: 3rem;
    cursor: pointer;
}

h1{
    text-align: center;
    margin-bottom: 20px;
    font-size: 3rem;
    color: #fff;
    text-shadow: 2px 2px 0 #751c1c, 1px 1px 0 #751c1c, 1px 1px 0 #751c1c, 1px 1px 0 #751c1c;
}

h2{
    text-align: center;
    margin-bottom: 20px;
    font-size: 3rem;
    color: #fff;
    text-shadow: 2px 2px 0 #751c1c, 1px 1px 0 #751c1c, 1px 1px 0 #751c1c, 1px 1px 0 #751c1c;
}

.grid{
    display: grid;
    max-width: 1100px;
    justify-content: center;
    margin: auto;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(280px,280px));
    padding-bottom: 50px;
    
}

.items {
    background-color: #fff;
    border: solid thick #fff;
    border-radius:  10px 10px 10px 10px;
}

.items img{
    width: 100%;
    height: 200px;
}

.info{
    padding: 15px;
}

.info h3{
    font-size: 1.6rem;
}

.info p{
    font-size: 1.5rem;
}

.info h3,
.info p {
    color: #222;
    margin-bottom: 15px;
}

.precio p:first-child{
    text-decoration: line-through;
}

.precio{
    display: flex;
    justify-content: space-between;
    font-weight: bolder;
}

.precio p{
    font-size: 1.8rem;
}

.info button{
    padding: 1rem;
    width: 100%;
    background-color: red;
    border: none;
    outline: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.1rem;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5px;
}

.items img{
    border-radius: 7px;
}

.info button:hover{
    background-color: #751c1c;
    transition: all .3s;
}

.ri-instagram-line{
    margin-right: 3rem;
    color: white;
}

.ri-twitter-line{
    margin-right: 1.5rem;
    color: white;
}

.ri-mail-line{
    margin-left: 50rem;
    margin-right: 1.5rem;
    color: white;
}

.ri-shopping-cart-line{
    color: white;
}

.nav-logo{
    max-width: 80px;
}


/*Buscador del nav*/
.search-container {
    text-align: center;
    margin-left: 45px;
}

#search-box {
    padding: 10px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 10px;
}

#search-button {
    padding: 10px 20px;
    background-color: #007bff; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

#search-button:hover {
    background-color: #0056b3;
}